.content {
  width: 60%;
  margin-top: 75px;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 70px;
    font-size: 53px;
    font-weight: 700;
    line-height: 56px;
    span {
      font-weight: 400;
    }
  }

  &__card_wrapper {
    display: grid;
    grid-template-columns: 40% 27% 28%;
    column-gap: 3%;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    img {
      position: absolute;
      top: -10%;
    }

    h2 {
      position: relative;
      top: -15%;
      left: 6%;
      font-size: 70px;
      font-weight: 700;
      // margin-right: 10px;
      // margin-left: 20px;
    }

    p {
      font-size: 17px;
      font-weight: 700;
      margin-left: 30px;

      span {
        font-weight: 400;
      }
    }
  }
}

// media
@media (max-width: 1000px) {
  .content__title {
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
  }
  .content__card p {
    font-size: 13px;
  }

  .content__card h2 {
    font-size: 50px;
  }
}
@media (max-width: 850px) {
  .content {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .content__title {
    margin-bottom: 40px;
    font-size: 31px;
    font-weight: 700;
    line-height: 40px;
  }
  
}
@media (max-width: 730px) {
  .content {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .content__title {
    font-size: 22px;
    line-height: 30px;
  }
  
}
@media (max-width: 600px) {
  .content {
    width: 75%;
    text-align: center;
    margin: 40px auto 30px;
  }
  .content__title {
    font-size: 28px;
    line-height: 33px;
}
.content__card_wrapper {
  text-align: left;
}


  
  
}
@media (max-width: 430px) {
  .content {
    width: 85%;
    text-align: center;
    margin: 40px auto 30px;
  }
    
  
}
@media (max-width: 380px) {
  .content__card_wrapper {
    display: none;
}
  
}
